html {
    height: 100%;
    font-size: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #638795;
}
#election {
    height: 4rem;
}

#vis {
    position: absolute; 
    width: 100%;
    height: calc(100% - 4rem);
}

canvas, svg {
    position: absolute;
}

h1 {
    /*color: #053b50;*/
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem;
}

canvas {
    pointer-events: none;
    z-index: 0;
}

svg {
    /*display: none;
    pointer-events: all;*/
    mix-blend-mode: multiply;
    z-index: 1;
}

#tooltip {
    z-index: 200;
    position: absolute;
    padding: 0.5rem;
    width: auto;
    max-width: 25rem;
    background-color: #ffffff;
    border: 0.2rem solid #eeeeee;
    visibility: hidden;
    top: 0px;
}

#tooltip.active {
    visibility: visible;
}

#tooltip p {
    display: block;
    font-size: 0.8rem;
}




.dropdown-wrapper {

	z-index: 1;
	float: left;
    width: 160px;
    padding: 5px;
    margin: 0 0 0 0;
	position: relative;
    background-color: #638795; /*#053b50*/
    color: #fff;
    outline: none;
    cursor: pointer;
}

.dropdown-wrapper span {
}

.dropdown-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}

.dropdown-wrapper .dropdown {
	border-radius: 0 0 5px 5px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; 
	padding: 0;
	margin: 0;
   text-transform: none;
    background: #eee;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    max-height: 20rem;
    overflow-y: scroll;
}

.dropdown-wrapper .dropdown li {
    display: block;
    text-decoration: none;
    color: #638795;
    background-color: #eee;
    padding: 5px 5px 5px 5px;
}


.dropdown-wrapper .dropdown li:hover {
    background: #dddddd;
}

.dropdown-wrapper.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-wrapper.active:after {
    border-color: #fff transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

#test {
    display: none;
}